.rightSidePanel {
  position:fixed ;
  width:300px; 
  height:100vh;
  top:0px; 
  right:0px;
  background-color: red;

}

.otherclass {
  background-color: blue ;
  transition: width 8s;
}