.rightSidePanel {
  position:fixed ;
  width:0px; 
  height:100vh;
  top:0px; 
  right:0px;
  background-color: red;
  transition: width 2s;

}

.otherclass {
  background-color: blue ;
  width: 0px;
  transition: width 2s;
}