<hello name="{{ name }}"></hello>
<i class="fa fa-list" aria-hidden="true"></i>
<p>Start editing to see some magic happen :)</p>
กลุ่มสินค้า
<input type="text" (focus)="OpenRightSide()" [(ngModel)]="category" />
<button (click)="OpenRightSide()">Open RightSide</button>

<app-side-panel
  [panelWidth]="panelWidth"
  [sCaption]="'ตารางกลุ่มสินค้า'"
  [dataCode]="'S0001'"
  [ShowStyleMatrix]="false"
  (mData)="setDataSeleced($event)"
  (outputPanelWidth)="setPanelWidth($event)"
></app-side-panel>

PanelWidth :: {{ panelWidth }}
